/*universal selector start*/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  max-width: 1200px;
}
/*universal selector end*/

